
.header{
    background-color: black;
    color: white;
    height: 200px;
    line-height: 200px;
    width: 800px;
    font-size: 72px;
    text-align: center;
    margin: auto;
}
.kevesebb{
    background-color: black;
    color: white;
    height: 300px;
    line-height: 200px;
    width: 800px;
    font-size: 72px;
    text-align: center;
    margin: auto;
}
.nehatobb{
    background-color: black;
    color: white;
    border: solid white;
    height: 120px;
    width: 300px;
    margin: auto;
    font-size: 40px;
    text-align: center;
}
.bordernehatobb{
    background-color: black;
    margin: auto;
    height: 200px;
    width: 800px;
    text-align: center;
}
.img{
    text-align: center;
}

.greetingtext{
    font-size: 40px;
    text-align: center;
    margin: auto;
}
.footer {
    width: 100%;
    height: 10px;
    margin: 0 auto;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 0 0 -32px;
    text-align: right;
    padding: 1rem 1rem 100px;

}