<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="end_scripts">

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"></script>')</script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="assets/bigga/js/plugins/owl-carousel/js/owl.carousel.min.js"></script>
    <!-- Instafeed JS -->
    <script src="assets/bigga/js/plugins/instafeed/instafeed.min.js"></script>
    <!-- EasyResponsiveTabs JS -->
    <script src="assets/bigga/js/plugins/easy-responsive-tabs/js/easyResponsiveTabs.js"></script>
    <!-- Pushy JS -->
    <script src="assets/bigga/js/plugins/pushy/js/pushy.min.js"></script>
    <!-- Scrolla JS -->
    <script src="assets/bigga/js/plugins/scrolla/scrolla.jquery.min.js"></script>
    <!-- Isotope JS -->
    <script src="assets/bigga/js/plugins/isotope/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/bigga/js/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom Google Map -->
    <script async="async" defer="defer"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHmqrH6SV0PCvH2ogxCppcRtyvX43VFqo"
            type="text/javascript"></script>
    <script src="assets/bigga/js/plugins/custom-google-map/ggl-map.js"></script>
    <!-- iCheck JS -->
    <script src="assets/bigga/js/plugins/icheck/icheck.js"></script>
    <!-- Main Bigga JS -->
    <script src="assets/bigga/js/bigga.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/bootstrap/js/ie10-viewport-bug-workaround.js"></script>



</div>
</html>