<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">

    <!-- Fixed navbar Alternative -->
    <nav id="main_nav_alt" class="navbar-default navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="assets/bigga/img/logo/coral.png"
                                                               class="img-responsive center-block" width="100"
                                                               height="35"/></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown active">
                        <a href="/" >Főoldal </a>
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="index.html">Home Main</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li class="dropdown-header">Other Options</li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="index_alt.html">Home Alt</a></li>-->
                        <!--</ul>-->
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Weboldal <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/service">Weboldal készítése</a></li>
                            <li><a href="/webnevjegy">Web névjegy</a></li>
                            <li><a href="portfolio-boxes.html">Design</a></li>
                            <li><a href="portfolio-boxes-2.html">Weboldal pár óra alatt</a></li>
                            <li><a href="portfolio-single.html">Egyéni projektek</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reklámozás <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="services.html">Szlogenek</a></li>
                            <li><a href="services_2.html">Reklám szövegek</a></li>
                            <li><a href="services_2.html">Egyéni ötletek megvalósítása</a></li>
                        </ul>
                    </li>
                    <!--<li class="dropdown">-->
                        <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Case Studies <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="case-studies.html">Case Studies</a></li>-->
                            <!--<li><a href="case-studies-2.html">Case Studies Alt</a></li>-->
                            <!--<li><a href="case-study-single.html">Case Study Single</a></li>-->

                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                        <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pricing <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="pricing.html">Pricing</a></li>-->
                            <!--<li><a href="pricing_alt.html">Pricing Alt</a></li>-->
                            <!--<li><a href="pricing_alt_2.html">Pricing Alt 2</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                        <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="blog.html">Blog</a></li>-->
                            <!--<li><a href="blog-single.html">Blog Single</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li class="dropdown">
                        <a href="/contact">Kapcsolatok </a>
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="contact.html">Contact</a></li>-->
                            <!--<li><a href="contact_alt.html">Contact Alt</a></li>-->
                        <!--</ul>-->
                    </li>
                    <li class="dropdown">
                        <a href="/about_us" >Rólunk </a>
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="404.html">404</a></li>-->
                            <!--<li><a href="team.html">About</a></li>-->
                        <!--</ul>-->
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /.Fixed navbar Alternative -->


</div>
</html>