<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row text-center">
                <!-- Top-link-block -->
                <span id="top-link-block" class="hidden"> <a href="#top" class="well well-sm"> <i
                        class="fa fa-angle-up"></i> </a> </span>
                <!-- /.Top-link-block -->
            </div>
            <!-- Footer Widgets Row -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!-- Footer Widget 01 -->
                    <div class="footer_widget">
                        <p class="footer_subtext">Munkaidő</p>
                        <p>Monday - Friday // 9 AM - 7 PM</p>
                        <p class="footer_subtext">Telefonszám</p>
                        <p>++389 781 5525 6544</p>
                        <p>++389 781 5525 6544</p>
                        <p class="footer_subtext">Email cím</p>
                        <p>hello@agency.com</p>
                    </div>
                    <!-- /.End Footer Widget 01 -->
                </div>
                <!--<div class="col-md-3 col-sm-6">-->
                <!--&lt;!&ndash; Footer Widget 02 &ndash;&gt;-->
                <!--<div class="footer_widget">-->
                <!--<p class="footer_subtext">Popular Posts</p>-->
                <!--<ul id="footer_posts" class="list-unstyled">-->
                <!--<li><span class="post_cat">Web Development</span><br/>-->
                <!--20 Tips for a Secure WordPress Site-->
                <!--</li>-->
                <!--<li><span class="post_cat">Web Design</span><br/>-->
                <!--The Perfect Contact Form Design-->
                <!--</li>-->
                <!--<li><span class="post_cat">Marketing</span><br/>-->
                <!--How to achieve more sales?-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.End Footer Widget 02 &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-md-3 col-sm-6">-->
                <!--&lt;!&ndash; Footer Widget 03 &ndash;&gt;-->
                <!--<div class="footer_widget">-->
                <!--<p class="footer_subtext">Instragram Feed</p>-->
                <!--<div id="instafeed" class="instafeed"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.End Footer Widget 03 &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-md-3 col-sm-6">-->
                <!--&lt;!&ndash; Footer Widget 04 &ndash;&gt;-->
                <!--<div class="footer_widget">-->
                <!--<p class="footer_subtext">Newsletter subscription</p>-->
                <!--<div class="newsletter_form">-->
                <!--<form>-->
                <!--<div class="form-group">-->
                <!--<label class="sr-only" for="firstNameNewsletter">First Name</label>-->
                <!--<input type="text" class="form-control" id="firstNameNewsletter"-->
                <!--placeholder="First Name"/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label class="sr-only" for="lastNameNewsletter">Last Name</label>-->
                <!--<input type="text" class="form-control" id="lastNameNewsletter"-->
                <!--placeholder="Last Name"/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label class="sr-only" for="inputEmailNewsletter">Email address</label>-->
                <!--<input type="email" class="form-control" id="inputEmailNewsletter"-->
                <!--placeholder="Email Address"/>-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-main-sm">Submit <i class="fa fa-angle-right"-->
                <!--aria-hidden="true"></i></button>-->
                <!--</form>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.End Footer Widget 04 &ndash;&gt;-->
                <!--</div>-->
            </div>
            <!-- /.End Footer Widgets Row -->
            <!-- Copyright -->
            <div class="row">
                <div class="col-lg-12">
                    <div id="copyright">
                        <hr/>
                        <p>Jogi Információk © 2017 Minden jog fenntartva.</p>
                    </div>
                </div>
            </div>
            <!-- /.End Copyright -->
        </div><!-- /.End Container -->
    </footer>
    <!-- /.End Footer -->


</div>
</html>