<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="favicon.ico"/>
    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link id="cpswitch" href="assets/bigga/bigga-styles.css" rel="stylesheet"/>
    <!-- FontAwesome Icons -->
    <script src="https://use.fontawesome.com/b4f5b524ab.js"></script>
    <!-- Owl Carousel Styles -->
    <link href="assets/bigga/js/plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet"/>
    <link href="assets/bigga/js/plugins/owl-carousel/css/owl.theme.default.css" rel="stylesheet"/>
    <!-- Easy Responsive Tabs CSS -->
    <link href="assets/bigga/js/plugins/easy-responsive-tabs/css/easy-responsive-tabs.css" rel="stylesheet"/>
    <!-- Pushy - OffCanvas Navigation -->
    <link href="assets/bigga/js/plugins/pushy/css/pushy.css" rel="stylesheet"/>
    <!-- Scrolla - Reveal Animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
    <!-- Custom Google Map -->
    <link rel="stylesheet" href="assets/bigga/js/plugins/custom-google-map/ggl-map.css"/>
    <!-- iCheck -->
    <link rel="stylesheet" href="assets/bigga/js/plugins/icheck/skins/line/purple.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
</html>