<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="our_process_default">

    <!-- Section Timeline -->
    <section id="project_timeline">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Timeline Content -->
                    <ul class="timeline">
                        <!-- Top Text -->
                        <h2>Munkafolyamat</h2>
                        <!-- /.End Top Text -->
                        <!-- Timeline Event 01 -->
                        <li class="animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.1s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1. lépés - Brief</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>A projekt teljes átbeszélése.</p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 01 -->

                        <!-- Timeline Event 02 -->
                        <li class="timeline-inverted animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.2s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2. lépés - Prototípus</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Makettet/tervet készítünk a weboldalhoz</p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 02 -->

                        <!-- Timeline Event 03 -->
                        <li class="animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.3s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3. lépés - Egyedi design</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Átbeszélésre kerül minden egyedi kérés</p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 03 -->

                        <!-- Timeline Event 04 -->
                        <li class="timeline-inverted animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.4s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4. lépés - Adaptációk, mobil nézet</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Funkcionális részek bekötése, fejlesztése. Ugyan olyan jól néz ki a weboldal asztali gépen, tableten, mobilon.</p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 04 -->

                        <!-- Timeline Event 05 -->
                        <li class="animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.5s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>5. lépés - Programozás</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Scriptek megírása, beállítása </p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 05 -->

                        <!-- Timeline Event 06 -->
                        <li class="timeline-inverted animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.6s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>6. lépés - Domain regisztráció</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>A domain regisztrációt és webtárhelyet is elintézzük.</p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 06 -->

                        <!-- Timeline Event 07 -->
                        <li class="animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.5s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>7. lépés - Hosting</h4>
                                </div>
                                <div class="timeline-body">
                                    <p> </p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 07 -->

                        <!-- Timeline Event 08 -->
                        <li class="timeline-inverted animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.6s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>8. lépés - Saját email cím</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Létrehozzuk a weboldalához tartozó email címet. Ennek használata bizalmat fog ébreszteni az jövőbeni ügyfeleiben.</p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 08 -->

                        <!-- Timeline Event 09 -->
                        <li class="animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.5s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>9. lépés - Support</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Figyelemmel követjük a weboldal működését. </p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 09 -->

                        <!-- Timeline Event 10 -->
                        <li class="timeline-inverted animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.6s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10. lépés - Google analytics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Beállítjuk az analitikát az oldalhoz.</p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 10 -->

                        <!-- Bottom Arrow Icon-->
                        <h2 class="bottom"><i class="fa fa-angle-double-down" aria-hidden="true"></i></h2>
                        <!-- /.End Bottom Arrow Icon -->
                    </ul>
                    <!-- /.End Timeline Content -->
                </div>
            </div>
        </div><!-- /.End Container -->
    </section>
    <!-- /.End Section Timeline -->


</div>
</html>