<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="our_services">

    <!-- Section Services -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-title">Szolgáltatások</h2>
                    <hr class="section-dash-dark"/>
                    <p class="section-lead">Our team can help with great range of skills - branding, Logo design, coding,
                        seo and more.</p>
                </div>
            </div>
            <!-- Services Row -->
            <div class="row text-center mrgn-30-top">
                <div class="col-md-4 col-sm-6 mrgn-40-top">
                    <div class="animate" data-animate="fadeIn" data-duration="1.0s"
                         data-delay="0.1s">
                        <img src="assets/bigga/img/icons/icn-research.svg" width="100"
                             height="100"
                             class="img-responsive center-block" alt="Service 01"/>
                        <h3 class="service-title">Kutatás</h3>
                        <p class="service-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut
                            aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mrgn-40-top">
                    <div class="animate" data-animate="fadeIn" data-duration="1.0s"
                         data-delay="0.2s">
                        <img src="assets/bigga/img/icons/icn-graphic-design.svg"
                             width="100" height="100"
                             class="img-responsive center-block" alt="Service 02"/>
                        <h3 class="service-title">Weboldal fejlesztés</h3>
                        <p class="service-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut
                            aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mrgn-40-top">
                    <div class="animate" data-animate="fadeIn" data-duration="1.0s"
                         data-delay="0.3s">
                        <img src="assets/bigga/img/icons/icn-marketing.svg" width="100"
                             height="100"
                             class="img-responsive center-block" alt="Service 03"/>
                        <h3 class="service-title">Web névjegy</h3>
                        <p class="service-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut
                            aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mrgn-40-top">
                    <div class="animate" data-animate="fadeIn" data-duration="1.0s"
                         data-delay="0.4s">
                        <img src="assets/bigga/img/icons/icn-web-design.svg" width="100"
                             height="100"
                             class="img-responsive center-block" alt="Service 04"/>
                        <h3 class="service-title">Reklámszövegek</h3>
                        <p class="service-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut
                            aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mrgn-40-top">
                    <div class="animate" data-animate="fadeIn" data-duration="1.0s"
                         data-delay="0.5s">
                        <img src="assets/bigga/img/icons/icn-web-development.svg"
                             width="100" height="100"
                             class="img-responsive center-block" alt="Service 05"/>
                        <h3 class="service-title">Web Design</h3>
                        <p class="service-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut
                            aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mrgn-40-top">
                    <div class="animate" data-animate="fadeIn" data-duration="1.0s"
                         data-delay="0.6s">
                        <img src="assets/bigga/img/icons/icn-mobile-apps.svg" width="100"
                             height="100"
                             class="img-responsive center-block" alt="Service 06"/>
                        <h3 class="service-title">Web áruház</h3>
                        <p class="service-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut
                            aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
            <!-- /.End Services Row -->
        </div><!-- /.End Container -->
    </section>
    <!-- /.Section Services -->


</div>
</html>