<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="our_process_default">

    <!-- Section Timeline -->
    <section id="project_timeline">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Timeline Content -->
                    <ul class="timeline">
                        <!-- Top Text -->
                        <h2>Munkafolyamat</h2>
                        <!-- /.End Top Text -->
                        <!-- Timeline Event 01 -->
                        <li class="animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.1s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1. lépés - Briefing</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>A projekt teljes átbeszélése.</p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 01 -->

                        <!-- Timeline Event 02 -->
                        <li class="timeline-inverted animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.2s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2. lépés - Prototípus</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>A great project start with a good research and devotion. We devote 20% of the project
                                        time to research to look into market, competitors and client's needs. It helps us
                                        look into the best solutions.</p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 02 -->

                        <!-- Timeline Event 03 -->
                        <li class="animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.3s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3. lépés - Egyedi design</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Before actual development we work into strategies and approaches. We look into some
                                        possible ideas and roughly extend them. Together with the client, we choose the
                                        direction for development</p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 03 -->

                        <!-- Timeline Event 04 -->
                        <li class="timeline-inverted animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.4s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4. lépés - adaptáció, fejlesztés</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Funkcionális részek bekötése </p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 04 -->

                        <!-- Timeline Event 05 -->
                        <li class="animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.5s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>5. lépés - Programozás</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Scriptek megírása. </p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 05 -->

                        <!-- Timeline Event 06 -->
                        <li class="timeline-inverted animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.6s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>6. lépés - Domain regisztráció</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>A név megvásárlása.</p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 06 -->

                        <!-- Timeline Event 07 -->
                        <li class="animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.5s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>7. lépés - Hosting</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>hostolás. </p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 07 -->

                        <!-- Timeline Event 08 -->
                        <li class="timeline-inverted animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.6s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>8. lépés - Saját email cím</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Létrehozzuk a weboldalhoz az email címet. Ez bizalmat fog ébreszteni az Ön ügyfeleiben.</p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 08 -->

                        <!-- Timeline Event 09 -->
                        <li class="animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.5s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>9. lépés - Support</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Figyelemmel követjük a weboldal működését. </p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 09 -->

                        <!-- Timeline Event 10 -->
                        <li class="timeline-inverted animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.6s">
                            <div class="timeline-badge"><i class="fa fa-circle invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10. lépés - Google analytics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Beállítjuk az analitikát az oldalhoz. Így Ön egyszerűen nyomon tudja követni az oldal
                                    látogatottságát, valamint kezelni tudja a saját kampányait.</p>
                                </div>
                            </div>
                        </li>
                        <!-- /.End Timeline Event 10 -->

                        <!-- Bottom Arrow Icon-->
                        <h2 class="bottom"><i class="fa fa-angle-double-down" aria-hidden="true"></i></h2>
                        <!-- /.End Bottom Arrow Icon -->
                    </ul>
                    <!-- /.End Timeline Content -->
                </div>
            </div>
        </div><!-- /.End Container -->
    </section>
    <!-- /.End Section Timeline -->


</div>
</html>