<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="work_with_us">

    <!-- Section CTA -->
    <section id="cta_alt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline text-center">
                        <li class="message">Felkeltettük az érdeklődését?</li>
                        <li><a href="/contact" class="btn btn-main">Kapcsolat</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.End Container -->
    </section>
    <!-- /.End Section CTA -->


</div>
</html>