<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kitalalomneked</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/greeting.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



</head>
<body>


<div class="image ideas"> <img src="/images/ideas.png" /></div>

<div class="big_image"> <img src="/images/nati2.png" /></div>
<div class="symbol skinny_font">@</div>
<div class="menubar">


    <a th:href="'/'"><img src="/images/sq5.png" width="25px" height="25px" onmouseover="this.src='/images/sq6.png'" onmouseout="this.src='/images/sq5.png'" /></a>
    Főoldal


    <br> </br>
    <a th:href="'/webDesign'"><img src="/images/sq5.png" width="25px" height="25px" onmouseover="this.src='/images/sq6.png'" onmouseout="this.src='/images/sq5.png'" /></a>
    Web design<br> </br>
    <img src="/images/sq6.png" width="25px" height="25px"/>
    Kapcsolat<br> </br>

</div>
<div class="container">

    <div class="skinny_font">Kapcsolat</div>

    Az alábbi mezőkbe kérjük adja meg adatait, valamint röviden fogalmazza meg igényeit és mihamarabb felvesszük önnél
    a kapcsolatot!
    <div class="input_fields">
        <form>
        Telefonszám: <input style="width: 200px" placeholder="telefonszám" name="phoneNumber"/><br> </br>
        Email: <input style="width: 200px" placeholder="email-cím" name="email"/> <br></br>
        Megjegyzés:<br> </br>
            <textarea placeholder="megjegyzés..." name="content"></textarea>

            <button type="submit"  class="btn btn-success">Küldés</button>

        </form>
    </div>

</div>
<div class="footer neverletgo_font">Jogi információk © 2017. Minden jog fenntartva.</div>

<script th:src="@{/js/images.js}"></script>

</body>
</html>