<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="fragments/head :: head"></head>
    <title>Web névjegy</title>

</head>
<body>
<div th:replace="fragments/fixed_navbar :: navbar"></div>

<!-- Header Services -->
<header id="services-header" class="flex-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="flex-item">
                    <div class="header-text text-center">
                        <div class="header-bg">
                            <h1>Design</h1>
                            <hr class="header-dash-white-center"/>
                            <p class="title">Ha kell egy egyedi ötlet, megtalálta a jelöltet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.End Container -->
</header>
<!-- /.End Header Services -->

<!-- Section Case Study -->
<section id="cs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- Case  Study -->
                <div class="cs_item animate" data-animate="fadeIn" data-duration="1.0s"
                     data-delay="0.3s">

                    <!-- Case  Study Content -->
                    <div class="cs_item_content">
                        <p>Különleges formák, egyedi kinézet, sajátos megjelenés, kivételes küllem, egyedülálló arculat, egyénre szabott külső, exkluzív stílus, páratlan kialakítás… Ha egyedi dizájnt szeretne, mi megvalósítjuk elképzeléseit.  </p>
                        <p>Van egy ötlete, de nem tudja, hogy valósítsa meg? Szeretne egyedi kinézetű terméket, de nagyon magas árajánlatokat kapott? Mi Önnel egyeztetve, teljes mértékben az Ön ízlését követve megtaláljuk a legjobb megoldást és létrehozzuk a legjobb végeredményt. </p>
                        <!--<blockquote>Kizárt dolog mert nem tudom.-->
                        <!--</blockquote>-->
                        <p>Ha szeretne kapni egy ajánlatot, írja meg nekünk a részleteket, a lehető leghamarabb jelentkezünk egyedi ötleteinkkel  és megoldásainkkal. Ön csak akkor fizet, ha tetszik a végeredmény! </p>



                    </div>
                    <!-- /.End Case  Study Content -->
                </div>
                <!-- /.End Case  Study -->
                <!--&lt;!&ndash; Social Share &ndash;&gt;-->
                <!--<div class="social_share">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-12">-->
                            <!--<ul class="list-inline">-->
                                <!--<li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Facebook</span></a></li>-->
                                <!--<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Twitter</span></a>-->
                                <!--</li>-->
                                <!--<li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Google Plus</span></a></li>-->
                                <!--<li><a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Pinterest</span></a></li>-->
                                <!--<li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Linkedin</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.End Social Share &ndash;&gt;-->
            </div>
        </div>
    </div><!-- /.End Container -->
</section>
<!-- /.End Section Blog Loop -->




<div th:replace="fragments/contact :: contact"></div>

<div th:replace="fragments/our_services :: our_services"></div>



<div th:replace="fragments/footer :: footer"></div>


<div th:replace="fragments/end_scripts :: end_scripts"></div>

</body>
</html>