<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kitalalomneked</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/greeting.css" />




</head>
<body>
<div class="header"> KITALALOMNEKED.HU</div>
<div class="greetingtext">EGYEDI, KÜLÖNLEGES, SZEMÉLYES,</div>
<div class="greetingtext">DIZÁJNOS, FIGYELEMFELKELTŐ</div>
<div class="greetingtext">MEGOLDÁSOK</div>


<div class="bordernehatobb">
    <div class="nehatobb">
        A KEVESEBB<br/>NÉHA TÖBB?
    </div>
</div>
<div class="img"> <img src="/images/szines.png" /></div>
<div class="img"> <img src="/images/otletek.png" /></div>



<div class="footer"><img src="/images/babyfoot.jpg" /></div>




</body>
</html>