<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kitalalomneked</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/greeting.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



</head>
<body>

<div class="jumbotron">lofasz</div>


<div class="image ideas"> <img src="/images/ideas.png" /></div>

<div class="image"> <img src="/images/natika.gif" /></div>
<div class="menubar">


   <img src="/images/sq6.png" width="25px" height="25px"/>
    Főoldal


    <br> </br>
    <a th:href="'/webDesign'"><img src="/images/sq5.png" width="25px" height="25px" onmouseover="this.src='/images/sq6.png'" onmouseout="this.src='/images/sq5.png'" /></a>
    Web design<br> </br>
    <a th:href="'/contact'"><img src="/images/sq5.png" width="25px" height="25px" onmouseover="this.src='/images/sq6.png'" onmouseout="this.src='/images/sq5.png'" /></a>
    Kapcsolat<br> </br>

</div>
<div class="container">

    <div class="skinny_font">skinny</div>
    <div class="skinny_solid_font">skinny_solid_font</div>
    <div class="austie_font">austie_font</div>
    <div class="clementine_font">clementine_font</div>
    <div class="grandma_font">grandma_font</div>
    <div class="kghappy_font">kghappy_font</div>
    <div class="kghappyshadow_font">kghappyshadow_font</div>
    <div class="kghappysolid_font">kghappysolid_font</div>
    <div class="neverletgo_font">neverletgo_font</div>
    <div class="sandwichdark_font">sandwichdark_font</div>
    <div class="sandwichlight_font">sandwichlight_font</div>
    <div class="sandwich_font">sandwich_font</div>

</div>
<div class="footer neverletgo_font">Jogi információk © 2017. Minden jog fenntartva.</div>

<script th:src="@{/js/images.js}"></script>

</body>
</html>