<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kitalalomneked</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/greeting.css" />




</head>
<body>


<!--<div class="image"> <img src="/images/text.png" /></div>-->

<div class="image"> <img src="/images/nati3.gif" /></div>

<div class="container">szövegecske</div>
</body>
</html>