<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="fragments/head :: head"></head>
    <title>Főoldal</title>

</head>
<body id="top">
<div th:replace="fragments/fixed_navbar :: navbar"></div>

<!-- Main Header -->
<header id="main-header" class="flex-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-6 col-md-offset-3">
                <div class="flex-item">
                    <div class="header-text text-center">
                        <div class="header-bg">
                            <h1>Kitalálom neked</h1>
                            <hr class="header-dash-white-center"/>
                            <p class="title">Egyedi ötletek</p>
                            <p class="lead">Ide majd valami szöveg tömören, röviden</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end container -->
</header>
<!-- /.Main Header -->

<!-- Section Intro -->
<section id="intro">
    <div class="container no-padding">
        <div class="intro-bg animate" data-animate="fadeIn" data-duration="1.0s"
             data-delay="0.1s">
            <div class="row">
                <div class="col-lg-12">
                    <p class="lead">Ide valami rizsa, hogy mi midnent az ügyfél érdekében és azonnal és minden jóság</p>
                </div>
            </div>
        </div>
    </div><!-- /.End Container -->
</section>
<!-- /.Section Intro -->

<div th:replace="fragments/our_services :: our_services"></div>


<!--&lt;!&ndash; Section Work Intro &ndash;&gt;-->
<!--<section id="work-intro">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center">-->
                <!--<h2 class="section-title">Our Work</h2>-->
                <!--<hr class="section-dash-white"/>-->
                <!--<p class="lead">Our portfolio speaks louder than words. Every client receives the creative attention-->
                    <!--they need.</p>-->
                <!--<p class="text-center"><a href="portfolio.html" class="btn btn-main">All Work <i-->
                        <!--class="fa fa-angle-right"-->
                        <!--aria-hidden="true"></i></a></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; /.End Container &ndash;&gt;-->
<!--</section>-->
<!--&lt;!&ndash; /.Section Work Intro &ndash;&gt;-->

<!--&lt;!&ndash; Section Work &ndash;&gt;-->
<!--<section id="work" class="">-->
    <!--<div class="container-fluid">-->
        <!--<div class="row no-gutter">-->
            <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
                <!--&lt;!&ndash; Work Item 01 &ndash;&gt;-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.1s">-->
                    <!--<div class="work-item">-->
                        <!--<a href="portfolio-single.html">-->
                            <!--<figure class="work"><img src="assets/bigga/img/folio/project-01.jpg" alt="Work Item"-->
                                                      <!--class="img-responsive center-block"/>-->
                                <!--<figcaption>-->
                                    <!--<p class="text-uppercase accent">Branding</p>-->
                                    <!--<p>Brand Minute</p>-->
                                <!--</figcaption>-->
                            <!--</figure>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.Work Item 01 &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-6 col-xs-6">-->
                <!--&lt;!&ndash; Work Item 02 &ndash;&gt;-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.3s">-->
                    <!--<div class="work-item">-->
                        <!--<a href="portfolio-single.html">-->
                            <!--<figure class="work"><img src="assets/bigga/img/folio/project-02.jpg" alt="Work Item"-->
                                                      <!--class="img-responsive center-block"/>-->
                                <!--<figcaption>-->
                                    <!--<p class="text-uppercase accent">Branding</p>-->
                                    <!--<p>Brand Minute</p>-->
                                <!--</figcaption>-->
                            <!--</figure>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.Work Item 02 &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-6 col-xs-6">-->
                <!--&lt;!&ndash; Work Item 03 &ndash;&gt;-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.4s">-->
                    <!--<div class="work-item">-->
                        <!--<a href="portfolio-single.html">-->
                            <!--<figure class="work"><img src="assets/bigga/img/folio/project-03.jpg" alt="Work Item"-->
                                                      <!--class="img-responsive center-block"/>-->
                                <!--<figcaption>-->
                                    <!--<p class="text-uppercase accent">Packaging</p>-->
                                    <!--<p>WoodWork</p>-->
                                <!--</figcaption>-->
                            <!--</figure>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.Work Item 03 &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="row no-gutter">-->
            <!--<div class="col-md-3 col-sm-6 col-xs-6">-->
                <!--&lt;!&ndash; Work Item 04 &ndash;&gt;-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.5s">-->
                    <!--<div class="work-item">-->
                        <!--<a href="portfolio-single.html">-->
                            <!--<figure class="work"><img src="assets/bigga/img/folio/project-04.jpg" alt="Work Item"-->
                                                      <!--class="img-responsive center-block"/>-->
                                <!--<figcaption>-->
                                    <!--<p class="text-uppercase accent">Branding</p>-->
                                    <!--<p>Box</p>-->
                                <!--</figcaption>-->
                            <!--</figure>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.Work Item 04 &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-6 col-xs-6">-->
                <!--&lt;!&ndash; Work Item 05 &ndash;&gt;-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.6s">-->
                    <!--<div class="work-item">-->
                        <!--<a href="portfolio-single.html">-->
                            <!--<figure class="work"><img src="assets/bigga/img/folio/project-05.jpg" alt="Work Item"-->
                                                      <!--class="img-responsive center-block"/>-->
                                <!--<figcaption>-->
                                    <!--<p class="text-uppercase accent">Branding and Signage</p>-->
                                    <!--<p>Bordo Clothing</p>-->
                                <!--</figcaption>-->
                            <!--</figure>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.Work Item 05 &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
                <!--&lt;!&ndash; Work Item 06 &ndash;&gt;-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.2s">-->
                    <!--<div class="work-item">-->
                        <!--<a href="portfolio-single.html">-->
                            <!--<figure class="work"><img src="assets/bigga/img/folio/project-06.jpg" alt="Work Item"-->
                                                      <!--class="img-responsive center-block"/>-->
                                <!--<figcaption>-->
                                    <!--<p class="text-uppercase accent">Packaging</p>-->
                                    <!--<p>Honey</p>-->
                                <!--</figcaption>-->
                            <!--</figure>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.Work Item 06 &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; /.End Container-fluid &ndash;&gt;-->
<!--</section>-->
<!--&lt;!&ndash; /.Section Work &ndash;&gt;-->

<!-- Section About -->
<section id="case-studies">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-title">Rólunk</h2>
                <hr class="section-dash-dark"/>
                <p class="section-lead">We are a small and very creative Team Crafting online experiences for our
                    clients.</p>
                <p class="section-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
        <!--&lt;!&ndash; Team Row &ndash;&gt;-->
        <!--<div class="row pddn-20-top">-->
            <!--<div class="col-sm-6 col-md-3 mrgn-30-top">-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.1s">-->
                    <!--<img src="assets/bigga/img/team/alicia.jpg" width="600"-->
                         <!--height="600"-->
                         <!--class="img-responsive center-block" alt="Alicia"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-md-3 mrgn-30-top">-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.4s">-->
                    <!--<img src="assets/bigga/img/team/martin.jpg" width="600"-->
                         <!--height="600"-->
                         <!--class="img-responsive center-block" alt="Martin"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-md-3 mrgn-30-top">-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.2s">-->
                    <!--<img src="assets/bigga/img/team/rachel.jpg" width="600"-->
                         <!--height="600"-->
                         <!--class="img-responsive center-block" alt="Rachel"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-md-3 mrgn-30-top">-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.3s">-->
                    <!--<img src="assets/bigga/img/team/kevin.jpg" width="600"-->
                         <!--height="600"-->
                         <!--class="img-responsive center-block" alt="Kevin"/>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /. End Team Row &ndash;&gt;-->
        <!-- More About the Team -->
        <div class="row mrgn-40-top">
            <div class="col-md-8 col-md-offset-2 text-center"><a href="team.html" class="btn btn-main">Még többet Rólunk <i
                    class="fa fa-angle-right" aria-hidden="true"></i></a></div>
        </div>
        <!-- /. End More About the Team -->
    </div><!-- /.End Container -->
</section>
<!-- /.Section About -->

<!--&lt;!&ndash; Section Case Studies &ndash;&gt;-->
<!--<section id="case-studies">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-8 col-md-offset-2 text-center">-->
                <!--<h2 class="section-title">Case Studies</h2>-->
                <!--<hr class="section-dash-white"/>-->
                <!--<p class="section-lead">We work closely with our clients to ensure their satisfaction and witness their-->
                    <!--success. </p>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Case Studies row &ndash;&gt;-->
        <!--<div class="row mrgn-40-top">-->
            <!--<div class="col-md-4">-->
                <!--&lt;!&ndash; Case Study 01 &ndash;&gt;-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.1s">-->
                    <!--<div class="cs-item">-->
                        <!--<img src="assets/bigga/img/case-studies/case-study-01.png"-->
                             <!--class="img-responsive center-block" alt="Case Study 01"/>-->
                        <!--<div class="cs-item-inner">-->
                            <!--<h4>Pentagram // London</h4>-->
                            <!--<hr class="section-dash-blue"/>-->
                            <!--<p class="section-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco-->
                                <!--laboris-->
                                <!--nisi ut aliquip ex ea commodo consequat. </p>-->
                            <!--<p class="mrgn-20-top"><a href="case-study-single.html" class="btn-link">Learn More <i-->
                                    <!--class="fa fa-angle-right"-->
                                    <!--aria-hidden="true"></i></a>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /. End Case Study 01 &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--&lt;!&ndash; Case Study 02 &ndash;&gt;-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.2s">-->
                    <!--<div class="cs-item">-->
                        <!--<img src="assets/bigga/img/case-studies/case-study-02.png"-->
                             <!--class="img-responsive center-block" alt="Case Study 02"/>-->
                        <!--<div class="cs-item-inner">-->
                            <!--<h4>TypeArtist // London</h4>-->
                            <!--<hr class="section-dash-blue"/>-->
                            <!--<p class="section-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco-->
                                <!--laboris-->
                                <!--nisi ut aliquip ex ea commodo consequat. </p>-->
                            <!--<p class="mrgn-20-top"><a href="case-study-single.html" class="btn-link">Learn More <i-->
                                    <!--class="fa fa-angle-right"-->
                                    <!--aria-hidden="true"></i></a>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /. End Case Study 02 &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--&lt;!&ndash; Case Study 03 &ndash;&gt;-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.3s">-->
                    <!--<div class="cs-item">-->
                        <!--<img src="assets/bigga/img/case-studies/case-study-03.png"-->
                             <!--class="img-responsive center-block" alt="Case Study 03"/>-->
                        <!--<div class="cs-item-inner">-->
                            <!--<h4>BrokHause // Zurich</h4>-->
                            <!--<hr class="section-dash-blue"/>-->
                            <!--<p class="section-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco-->
                                <!--laboris-->
                                <!--nisi ut aliquip ex ea commodo consequat. </p>-->
                            <!--<p class="mrgn-20-top"><a href="case-study-single.html" class="btn-link">Learn More <i-->
                                    <!--class="fa fa-angle-right"-->
                                    <!--aria-hidden="true"></i></a>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /. End Case Study 03 &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>&lt;!&ndash; /.End Row &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.End Container &ndash;&gt;-->
<!--</section>-->
<!--&lt;!&ndash; /.Section Case Studies &ndash;&gt;-->
<!-- Section Why Us -->
<section id="why-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-title">Amiért Minket válassz</h2>
                <hr class="section-dash-dark"/>
                <p class="section-lead">Yes, there are many design agencies our there but only we can offer you the best
                    service.</p>
            </div>
        </div>
        <!-- Row Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Responsive Tabs -->
                <div id="parentVerticalTab">
                    <ul class="resp-tabs-list hor_1">
                        <li class="animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.2s">Tisztában vagyunk a képességeinkkel<br/>
                            <small class="subtext">Keeping with the tendencies, brave to bold and trying new tools.
                                That’s us. We are not affraid to try and we master our skills daily.
                            </small>
                        </li>
                        <li class="animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.4s">Mi dolgozunk a legjobban<br/>
                            <small class="subtext">Check our clients list and you will see that we are working with the
                                best. The bar is set very high and we have never disappointed a single client.
                            </small>
                        </li>
                        <li class="animate" data-animate="fadeIn" data-duration="1.0s"
                            data-delay="0.6s">Mindenre találunk megoldást<br/>
                            <small class="subtext">Yes, sometimes it is though and we barely find time to sleep but it’s
                                worth it because we know that unique ideas make our clients the greatest.
                            </small>
                        </li>
                    </ul>
                    <div class="resp-tabs-container hor_1">
                        <div><img src="assets/bigga/img/features/feature-01.jpg" width="800" height="800"
                                  class="img-responsive" alt="Feature 01"/></div>
                        <div><img src="assets/bigga/img/features/feature-02.jpg" width="800" height="800"
                                  class="img-responsive" alt="Feature 02"/></div>
                        <div><img src="assets/bigga/img/features/feature-03.jpg" width="800" height="800"
                                  class="img-responsive" alt="Feature 03"/></div>
                    </div>
                </div>
                <!-- /.End Responsive Tabs -->
            </div>
        </div><!-- /.End Row Tabs -->
    </div><!-- /.End Container -->
</section>
<!-- /.Section Why Us -->

<!-- Section Testimonials -->
<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">

                <!-- Testimonial Carousel -->
                <div id="testimonials-slider" class="owl-carousel">

                    <!-- Testimonial 01 -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="quote-symbol mrgn-30-top"><i class="fa fa-quote-left" aria-hidden="true"></i>
                                </p>
                                <p class="testimonial-text mrgn30-top-btm">“Gondolkodom, tehát vagyok”</p>
                                <p class="client mrgn-20-top">én</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.Testimonial 01 -->

                    <!-- Testimonial 02 -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="quote-symbol mrgn-30-top"><i class="fa fa-quote-left" aria-hidden="true"></i>
                                </p>
                                <p class="testimonial-text mrgn30-top-btm">“Cogito ergo sum”</p>
                                <p class="client mrgn-20-top">jómagam</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.Testimonial 02 -->

                    <!-- Testimonial 03 -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="quote-symbol mrgn-30-top"><i class="fa fa-quote-left" aria-hidden="true"></i>
                                </p>
                                <p class="testimonial-text mrgn30-top-btm">“Nincs tehetség. Az van, hogy kitartasz, csinálod és ha a 10 000 órás elv alapján élsz - azaz ha valamit legalább addig csinálsz, a szakma mesterévé válsz -, akkor úgyis tehetségessé válsz.”</p>
                                <p class="client mrgn-20-top">Oravecz Nóra </p>
                            </div>
                        </div>
                    </div>
                    <!-- /.Testimonial 03 -->

                </div>
                <!-- /.Testimonial Carousel -->

            </div>
        </div>
    </div><!-- /.End Container -->
</section>
<!-- /.End Section Testimonials -->
<!-- Section Contact -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-title">Kapcsolat</h2>
                <hr class="section-dash-white-left"/>
                <p class="section-lead">Are you interested? Make the first step and we will contact you with some ideas
                    ready for discussion.</p>
                <p class="section-lead-sm mrgn-20-top">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p class="section-lead-sm mrgn-20-top">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p class="section-lead-sm mrgn-20-top">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p class="section-lead-sm mrgn-20-top">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col-md-6">
                <!-- Form Quote Request -->
                <div class="form-wrapper animate" data-animate="fadeIn" data-duration="1.0s"
                     data-delay="0.2s">
                    <h3>Ajánlatkérés</h3>
                    <p class="form-subtitle">Velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <!-- Contact Form -->
                    <div class="form-inner">
                        <form>
                            <div class="form-group">
                                <label class="sr-only" for="firstName">Kereszt Név</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Kereszt Név"/>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="LastName">Vezeték Név</label>
                                <input type="text" class="form-control" id="LastName"
                                       placeholder="Vezeték Név"/>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="emailInput">Email cím</label>
                                <input type="email" class="form-control" id="emailInput" placeholder="Email cím"/>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="phoneNumber">Telefonszám</label>
                                <input type="number" class="form-control" id="phoneNumber" placeholder="Telefonszám"/>
                            </div>
                            <div class="form-group">
                <textarea class="form-control" rows="3"
                          data-validation-required-message="Any thoughts you'd like to share?"
                          id="thoughts" name="thoughts" placeholder="Any thoughts you'd like to share?"
                          required="required" aria-invalid="false"></textarea>
                            </div>
                            <p class="text-center">
                                <button type="submit" class="btn btn-main">Küldés <i class="fa fa-angle-right"
                                                                                     aria-hidden="true"></i></button>
                            </p>
                        </form>
                    </div>
                    <!-- /.Conctact Form -->

                </div>
                <!-- /.End Form Quote Request -->
            </div>
        </div><!-- /.End Row -->
    </div><!-- /.End Container -->
</section>
<!-- /.End Section Contact -->
<!--&lt;!&ndash; Section Blog Wrapper &ndash;&gt;-->
<!--<section id="blog-wrapper">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-8 col-md-offset-2 text-center">-->
                <!--<h2 class="section-title">From our blog</h2>-->
                <!--<hr class="section-dash-dark"/>-->
                <!--<p class="section-lead">Regularly, we share our thoughts, experiences and successes.</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Blog Items Row &ndash;&gt;-->
        <!--<div class="row text-center mrgn-30-top">-->
            <!--<div class="col-md-4 mrgn-40-top">-->
                <!--&lt;!&ndash; Blog Item 01 &ndash;&gt;-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.1s">-->
                    <!--<div class="blog_item">-->
                        <!--&lt;!&ndash; Blog Item Image &ndash;&gt;-->
                        <!--<div class="blog_item_image">-->
                            <!--<img src="assets/bigga/img/case-studies/case-study-01.png"-->
                                 <!--class="img-responsive" width="800"-->
                                 <!--height="400" alt="Blog item 1"/>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.End Blog Item Image &ndash;&gt;-->
                        <!--&lt;!&ndash; Blog Item Categories &ndash;&gt;-->
                        <!--<ul class="blog_categories list-inline">-->
                            <!--<li>Web Development</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; /.End Blog Item Categories &ndash;&gt;-->
                        <!--&lt;!&ndash; Blog Item Content &ndash;&gt;-->
                        <!--<div class="blog_item_content">-->
                            <!--<h2>Our solution for statapp</h2>-->
                            <!--<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit-->
                                <!--anim id est laborum. </p>-->
                            <!--<p class="mrgn-20-top"><a href="blog-single.html" class="btn-link">Learn More <i-->
                                    <!--class="fa fa-angle-right"-->
                                    <!--aria-hidden="true"></i></a>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.End Blog Item Content &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.End Blog Item 01 &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-4 mrgn-40-top">-->
                <!--&lt;!&ndash; Blog Item 02 &ndash;&gt;-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.2s">-->
                    <!--<div class="blog_item">-->
                        <!--&lt;!&ndash; Blog Item Image &ndash;&gt;-->
                        <!--<div class="blog_item_image">-->
                            <!--<img src="assets/bigga/img/case-studies/case-study-01.png"-->
                                 <!--class="img-responsive" width="800"-->
                                 <!--height="400" alt="Blog item 2"/>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.End Blog Item Image &ndash;&gt;-->
                        <!--&lt;!&ndash; Blog Item Categories &ndash;&gt;-->
                        <!--<ul class="blog_categories list-inline">-->
                            <!--<li>Web Development</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; /.End Blog Item Categories &ndash;&gt;-->
                        <!--&lt;!&ndash; Blog Item Content &ndash;&gt;-->
                        <!--<div class="blog_item_content">-->
                            <!--<h2>Our solution for statapp</h2>-->
                            <!--<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit-->
                                <!--anim id est laborum. </p>-->
                            <!--<p class="mrgn-20-top"><a href="blog-single.html" class="btn-link">Learn More <i-->
                                    <!--class="fa fa-angle-right"-->
                                    <!--aria-hidden="true"></i></a>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.End Blog Item Content &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.End Blog Item 02 &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-4 mrgn-40-top">-->
                <!--&lt;!&ndash; Blog Item 03 &ndash;&gt;-->
                <!--<div class="animate" data-animate="fadeIn" data-duration="1.0s"-->
                     <!--data-delay="0.3s">-->
                    <!--<div class="blog_item">-->
                        <!--&lt;!&ndash; Blog Item Image &ndash;&gt;-->
                        <!--<div class="blog_item_image">-->
                            <!--<img src="assets/bigga/img/case-studies/case-study-01.png"-->
                                 <!--class="img-responsive" width="800"-->
                                 <!--height="400" alt="Blog item 3"/>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.End Blog Item Image &ndash;&gt;-->
                        <!--&lt;!&ndash; Blog Item Categories &ndash;&gt;-->
                        <!--<ul class="blog_categories list-inline">-->
                            <!--<li>Web Development</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; /.End Blog Item Categories &ndash;&gt;-->
                        <!--&lt;!&ndash; Blog Item Content &ndash;&gt;-->
                        <!--<div class="blog_item_content">-->
                            <!--<h2>Our solution for statapp</h2>-->
                            <!--<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit-->
                                <!--anim id est laborum. </p>-->
                            <!--<p class="mrgn-20-top"><a href="blog-single.html" class="btn-link">Learn More <i-->
                                    <!--class="fa fa-angle-right"-->
                                    <!--aria-hidden="true"></i></a>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.End Blog Item Content &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.End Blog Item 03 &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.End Blog Items Row &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.End Container &ndash;&gt;-->
<!--</section>-->
<!--&lt;!&ndash; /.End Section Blog Wrapper &ndash;&gt;-->
<div th:replace="fragments/footer :: footer"></div>


<div th:replace="fragments/end_scripts :: end_scripts"></div>

</body>
</html>