<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="fragments/head :: head"></head>
    <title>Rólunk</title>

</head>
<body>
<div th:replace="fragments/fixed_navbar :: navbar"></div>

<!-- Header Team -->
<header id="team-header" class="flex-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="flex-item">
                    <div class="header-text text-center">
                        <div class="header-bg">
                            <h1>Not just a team</h1>
                            <hr class="header-dash-white-center"/>
                            <p class="title">We are a family. A Talented One.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.End Row -->
    </div><!-- /.End Container -->
</header>
<!-- /.End Header Team -->
<!-- Section About Inner -->
<section id="about_inner">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-title">Our Team</h2>
                <hr class="section-dash-dark"/>
                <p class="section-lead">We are a small and very creative team crafting online experiences for our
                    clients.</p>
                <p class="section-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
        <div class="row pddn-20-top">
            <div class="col-sm-6 col-md-3 mrgn-40-top animate" data-animate="fadeIn" data-duration="1.0s"
                 data-delay="0.1s">
                <img src="assets/bigga/img/team/alicia.jpg" width="600"
                     height="600"
                     class="img-responsive center-block" alt=""/>
                <p class="team_member">Alicia Stuart</p>
                <p class="team_position">Graphic Design and Development</p>
            </div>
            <div class="col-sm-6 col-md-3 mrgn-40-top animate" data-animate="fadeIn" data-duration="1.0s"
                 data-delay="0.3s">
                <img src="assets/bigga/img/team/martin.jpg" width="600"
                     height="600"
                     class="img-responsive center-block" alt=""/>
                <p class="team_member">Martin Gordon</p>
                <p class="team_position">Web Design and Development</p>
            </div>
            <div class="col-sm-6 col-md-3 mrgn-40-top animate" data-animate="fadeIn" data-duration="1.0s"
                 data-delay="0.2s">
                <img src="assets/bigga/img/team/rachel.jpg" width="600"
                     height="600"
                     class="img-responsive center-block" alt=""/>
                <p class="team_member">Rachel Gonzales</p>
                <p class="team_position">Branding and Photography</p>
            </div>
            <div class="col-sm-6 col-md-3 mrgn-40-top animate" data-animate="fadeIn" data-duration="1.0s"
                 data-delay="0.4s">
                <img src="assets/bigga/img/team/kevin.jpg" width="600"
                     height="600"
                     class="img-responsive center-block" alt=""/>
                <p class="team_member">Kevin Van Rooe</p>
                <p class="team_position">UX/UI and Dev</p>
            </div>
            <div class="col-sm-6 col-md-3 mrgn-40-top animate" data-animate="fadeIn" data-duration="1.0s"
                 data-delay="0.1s">
                <img src="assets/bigga/img/team/robert.jpg" width="600"
                     height="600"
                     class="img-responsive center-block" alt=""/>
                <p class="team_member">Robert Sawyski</p>
                <p class="team_position">Programming and 3D</p>
            </div>
            <div class="col-sm-6 col-md-3 mrgn-40-top animate" data-animate="fadeIn" data-duration="1.0s"
                 data-delay="0.4s">
                <img src="assets/bigga/img/team/jess.jpg" width="600"
                     height="600"
                     class="img-responsive center-block" alt=""/>
                <p class="team_member">Jess Ann George</p>
                <p class="team_position">Web Design and Seo</p>
            </div>
            <div class="col-sm-6 col-md-3 mrgn-40-top animate" data-animate="fadeIn" data-duration="1.0s"
                 data-delay="0.3s">
                <img src="assets/bigga/img/team/albert.jpg" width="600"
                     height="600"
                     class="img-responsive center-block" alt=""/>
                <p class="team_member">Albert McKay</p>
                <p class="team_position">Web Design/UX and Dev</p>
            </div>
            <div class="col-sm-6 col-md-3 mrgn-40-top animate" data-animate="fadeIn" data-duration="1.0s"
                 data-delay="0.2s">
                <img src="assets/bigga/img/team/anya.jpg" width="600"
                     height="600"
                     class="img-responsive center-block" alt=""/>
                <p class="team_member">Anya Floret</p>
                <p class="team_position">3D/Photography and Identity </p>
            </div>
        </div>
    </div><!-- /.End Container -->
</section>
<!-- /.End Section About Inner -->
<!-- Section Skills -->
<section id="skills" class="lightblue">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-title">What we are best at</h2>
                <hr class="section-dash-dark"/>
                <p class="section-lead">We have versatile skills so that can help our clients strive in their
                    business.</p>
            </div>
        </div>
        <div class="all_skills_wrap">
            <div class="row flex-container-team">
                <div class="col-sm-6 flex-item-team">
                    <p class="section-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p class="section-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p class="section-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p class="section-lead-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="col-sm-6">
                    <div class="skills_wrapper">
                        <div class="all_skills">
                            <!-- Skill 01 -->
                            <div class="row animate" data-animate="fadeIn" data-duration="1.0s" data-delay="0.1s">
                                <div class="col-xs-8">
                                    <p class="skill_name">Branding and Identity</p>
                                </div>
                                <div class="col-xs-4">
                                    <p class="skill_percentage text-right">95%</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 animate" data-animate="fadeIn" data-duration="1.0s"
                                     data-delay="0.1s">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="95"
                                             aria-valuemin="0"
                                             aria-valuemax="100" style="width: 95%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.Skill 01 -->
                            <!-- Skill 02 -->
                            <div class="row animate" data-animate="fadeIn" data-duration="1.0s" data-delay="0.2s">
                                <div class="col-xs-8">
                                    <p class="skill_name">Programming</p>
                                </div>
                                <div class="col-xs-4">
                                    <p class="skill_percentage text-right">90%</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 animate" data-animate="fadeIn" data-duration="1.0s"
                                     data-delay="0.2s">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90"
                                             aria-valuemin="0"
                                             aria-valuemax="100" style="width: 90%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.Skill 02 -->

                            <!-- Skill 03 -->
                            <div class="row animate" data-animate="fadeIn" data-duration="1.0s" data-delay="0.3s">
                                <div class="col-xs-8">
                                    <p class="skill_name">Graphic and Web</p>
                                </div>
                                <div class="col-xs-4">
                                    <p class="skill_percentage text-right">90%</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 animate" data-animate="fadeIn" data-duration="1.0s"
                                     data-delay="0.3s">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="85"
                                             aria-valuemin="0"
                                             aria-valuemax="100" style="width: 85%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.Skill 03 -->

                            <!-- Skill 04 -->
                            <div class="row animate" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s">
                                <div class="col-xs-8">
                                    <p class="skill_name">SEO and Social</p>
                                </div>
                                <div class="col-xs-4">
                                    <p class="skill_percentage text-right">70%</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 animate" data-animate="fadeIn" data-duration="1.0s"
                                     data-delay="0.4s">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                             aria-valuemin="0"
                                             aria-valuemax="100" style="width: 70%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.Skill 04 -->

                            <!-- Skill 05 -->
                            <div class="row animate" data-animate="fadeIn" data-duration="1.0s" data-delay="0.5s">
                                <div class="col-xs-8">
                                    <p class="skill_name">UX / UI</p>
                                </div>
                                <div class="col-xs-4">
                                    <p class="skill_percentage text-right">80%</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 animate" data-animate="fadeIn" data-duration="1.0s"
                                     data-delay="0.5s">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80"
                                             aria-valuemin="0"
                                             aria-valuemax="100" style="width: 80%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.Skill 05 -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.End Container -->
</section>
<!-- /.End Section Skills -->
<!-- Section Testimonials Team -->
<section id="testimonials_team" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="testimonial_wrapper animate" data-animate="fadeIn" data-duration="1.0s"
                     data-delay="0.1s">
                    <img src="assets/bigga/img/clients/client-jodie.jpg" class="img-responsive img-rounded center-block"
                         width="60"
                         height="60" alt="testimonial image"/>
                    <i class="fa fa-quote-left transparency_one" aria-hidden="true"></i>
                    <p class="client_testimonial">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p class="client_name">Jodie Madsen</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="testimonial_wrapper animate" data-animate="fadeIn" data-duration="1.0s"
                     data-delay="0.2s">
                    <img src="assets/bigga/img/clients/client-jones.jpg" class="img-responsive img-rounded center-block"
                         width="60"
                         height="60" alt="testimonial image"/>
                    <i class="fa fa-quote-left transparency_one" aria-hidden="true"></i>
                    <p class="client_testimonial">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p class="client_name">Jones Andre</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="testimonial_wrapper animate" data-animate="fadeIn" data-duration="1.0s"
                     data-delay="0.3s">
                    <img src="assets/bigga/img/clients/client-michael.jpg"
                         class="img-responsive img-rounded center-block" width="60"
                         height="60" alt="testimonial image"/>
                    <i class="fa fa-quote-left transparency_one" aria-hidden="true"></i>
                    <p class="client_testimonial">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p class="client_name">Michael Cole</p>
                </div>
            </div>
        </div>
    </div><!-- /.End Container -->
</section>
<!-- /.End Section Testimonials Team -->
<div th:replace="fragments/footer :: footer"></div>


<div th:replace="fragments/end_scripts :: end_scripts"></div>
</body>
</html>