<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kitalalomneked</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/greeting.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



</head>
<body>


<div class="image ideas"> <img src="/images/ideas.png" /></div>

<div class="image"> <img  src="/images/nati2.png" /></div>
<div class="menubar">


    <a th:href="'/'"><img src="/images/sq5.png" width="25px" height="25px" onmouseover="this.src='/images/sq6.png'" onmouseout="this.src='/images/sq5.png'" /></a>
    Főoldal


    <br> </br>
    <img src="/images/sq6.png" width="25px" height="25px"/>
    Web design<br> </br>
    <a th:href="'/contact'"><img src="/images/sq5.png" width="25px" height="25px" onmouseover="this.src='/images/sq6.png'" onmouseout="this.src='/images/sq5.png'" /></a>
    Kapcsolat<br> </br>

</div>
<div class="container kghappy_font">

    <div class="container_header">Web Design</div>

    <div>Ide majd valami szöveg</div>


</div>
<div class="footer neverletgo_font">Jogi információk © 2017. Minden jog fenntartva.</div>

<script th:src="@{/js/images.js}"></script>

</body>
</html>