<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="fragments/head :: head"></head>
    <title>Web névjegy</title>

</head>
<body>
<div th:replace="fragments/fixed_navbar :: navbar"></div>

<!-- Header Services -->
<header id="services-header" class="flex-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="flex-item">
                    <div class="header-text text-center">
                        <div class="header-bg">
                            <h1>Web névjegy</h1>
                            <hr class="header-dash-white-center"/>
                            <p class="title">A legjobb és legegyszerűbb online bemutatkozás</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.End Container -->
</header>
<!-- /.End Header Services -->

<!-- Section Case Study -->
<section id="cs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- Case  Study -->
                <div class="cs_item animate" data-animate="fadeIn" data-duration="1.0s"
                     data-delay="0.3s">

                    <!-- Case  Study Content -->
                    <div class="cs_item_content">
                        <p>A web névjegy egy 1-5 oldalból álló internetes weboldal, amely tartalmaz minden fontos információt arról, hogy Ön mivel foglalkozik, milyen szolgáltatásokat nyújt, valamint az oldalon található kapcsolatfelvételi lehetőség, amit kitöltve Ön azonnal értesítést kap.
                            Kinek ajánljuk: kisebb vállalkozásoknak illetve magán személyeknek ez a legkényelmesebb módja az online jelenlétnek.
                        </p>

                        <h1>Előnyei</h1>

                        <p><b>Tájékoztató</b> - tartalmaz minden elsődleges információt a cégről, szervezetről, magánszemélyről
                        </p>
                        <p><b>Részletező</b> - pontos információval szolgál minden szolgáltatásról, termékről
                        </p>
                        <p><b>Kényelmes</b> - azonnali kapcsolatfelvételi lehetőséget kínál
                        </p>

                    </div>
                    <!-- /.End Case  Study Content -->
                </div>
                <!-- /.End Case  Study -->
                <!--&lt;!&ndash; Social Share &ndash;&gt;-->
                <!--<div class="social_share">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-12">-->
                            <!--<ul class="list-inline">-->
                                <!--<li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Facebook</span></a></li>-->
                                <!--<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Twitter</span></a>-->
                                <!--</li>-->
                                <!--<li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Google Plus</span></a></li>-->
                                <!--<li><a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Pinterest</span></a></li>-->
                                <!--<li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Linkedin</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.End Social Share &ndash;&gt;-->
            </div>
        </div>
    </div><!-- /.End Container -->
</section>
<!-- /.End Section Blog Loop -->




<div th:replace="fragments/contact :: contact"></div>

<div th:replace="fragments/our_services :: our_services"></div>



<div th:replace="fragments/footer :: footer"></div>


<div th:replace="fragments/end_scripts :: end_scripts"></div>

</body>
</html>