<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="fragments/head :: head"></head>
    <title>Weboldal pár óra alatt</title>

</head>
<body>
<div th:replace="fragments/fixed_navbar :: navbar"></div>

<!-- Header Services -->
<header id="services-header" class="flex-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="flex-item">
                    <div class="header-text text-center">
                        <div class="header-bg">
                            <h1>Weboldal pár óra alatt</h1>
                            <hr class="header-dash-white-center"/>
                            <p class="title">ide még jöhetne valami mint a webnévjegynél</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.End Container -->
</header>
<!-- /.End Header Services -->

<!-- Section Case Study -->
<section id="cs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- Case  Study -->
                <div class="cs_item animate" data-animate="fadeIn" data-duration="1.0s"
                     data-delay="0.3s">

                    <!-- Case  Study Content -->
                    <div class="cs_item_content">
                        <h2>Szeretne egy weboldalt, nem nem akar heteket/hónapokat várni?
                            Heti többször egyeztetni, e-mailezni, telefonálni, visszaküldeni,
                            módosításokat kérni, idegeskedni? Akkor a legjobb helyen jár!</h2>


                        <p>Egy nap alatt elkészítjük weboldalát az ízlésének megfelelően. Ehhez semmi másra nincs szükség, mint találkozzon velünk pár óra erejéig. Még ott helyben, együtt átbeszélve összeállítjuk az oldal dizájnját, szerkezetét, menüpontjait. Mire felállunk az asztaltól, már az elképzelései szerinti weboldal birtokosa lesz. Egy napon belül küldjük a végeredményt, Önnek már csak annyi dolga lesz, hogy a kész terméket megkapja. Weboldalaink ugyan olyan jól néznek ki asztali gépen, tableten és telefonon, így a jövőbeni látogatói bármilyen készüléken tudják követni.</p>


                        <p>Személyes találkozás előtt egy kérdőívet küldünk ki,
                            ami alapján el tudjuk indítani a weboldalhoz szükséges folyamatokat:
                            domain regisztráció, tárhely, hosting, weboldalhoz tartozó saját e-mail cím létrehozása, stb.
                        </p>

                        <p>
                            Ha ajánlatunk felkeltette az érdeklődését, keressen minket bizalommal a lenti kapcsolatfelvételi lehetőségek egyikén.
                        </p>
                        <!--<blockquote>Kizárt dolog mert nem tudom.-->
                        <!--</blockquote>-->



                    </div>
                    <!-- /.End Case  Study Content -->
                </div>
                <!-- /.End Case  Study -->
                <!--&lt;!&ndash; Social Share &ndash;&gt;-->
                <!--<div class="social_share">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-12">-->
                            <!--<ul class="list-inline">-->
                                <!--<li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Facebook</span></a></li>-->
                                <!--<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Twitter</span></a>-->
                                <!--</li>-->
                                <!--<li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Google Plus</span></a></li>-->
                                <!--<li><a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Pinterest</span></a></li>-->
                                <!--<li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i><br/><span-->
                                        <!--class="hidden-xs">Linkedin</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.End Social Share &ndash;&gt;-->
            </div>
        </div>
    </div><!-- /.End Container -->
</section>
<!-- /.End Section Blog Loop -->




<div th:replace="fragments/contact :: contact"></div>

<div th:replace="fragments/our_services :: our_services"></div>



<div th:replace="fragments/footer :: footer"></div>


<div th:replace="fragments/end_scripts :: end_scripts"></div>

</body>
</html>